{% extends "header.html" %} {% block content %}
<main role='main' class='col-md-9 ml-sm-auto col-lg-10 pt-3 px-4'>
    <div class='d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom'>
        <h1 class='h2'><span data-feather='file-text' class='settings'></span> About</h1>
    </div>
    <br/>
    <div class='container'>

        <div style="background-color: #f8f9fa;color: #272c30;" class="jumbotron">
            <h1 class="display-4 text-center"><span data-feather='chevron-right' class="about"></span>SL0T0X</h1>
            <h6 class='text-center'>Version 1</h6>
            <p class="lead">SL0T0X is a Modular web based penetration testing interface.</p>
            <hr class="my-4">
            <p>Life is short. <span class="text-primary">Have fun</span>. <span data-feather='smile'></span></p>
        </div>

    </div>
</main>

{% endblock content %}